<!DOCTYPE html PUBLIC "-#W3C#DTD XHTML 1.0 Transitional#EN" "http:#www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http:#www.w3.org/1999/xhtml">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/wizard.css">
        <link rel="icon" href="./favicon.ico">
        {% block styles %}{% endblock %}
        <link rel="stylesheet" href="css/styles.css">            
        <title>{% block title %}{% endblock %}</title>
</head>
<body>	
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/general.js"></script>
{% block scripts %}{% endblock %}
<div class="socialBox">
    <div><img src="images/t.png"/></div>
    <div><img src="images/i.png"/></div>
    <div><img src="images/w.png"/></div>
</div>
<div class="shadow-sm p-3 mb-5 topBar">
    <a href="./">
        <div id="logoPanel">
            <img id="logo" alt="{{app_name}}" src="images/logo.png"/>
            <div id="logoTitle">تولید کننده در و پنجره UPVC</div>
        </div>
    </a>
    <div id="userPanel">
        <img data-toggle="modal" data-target="#modalMenu" id="menuToggler" style="height: 32px;"  alt="ترجمه رسمی آنلاین {{app_name}}" src="images/bars.png"/>
 
    </div>
    <div id="mainMenu">
        <a href="./"> <div class="menuitem">صفحه اصلی</div></a>
        <a href="./انتخاب_مدارک_ترجمه_رسمی"> <div class="menuitem">محصولات</div></a>
        <a href=""> <div class="menuitem">نمونه پروژه ها</div></a>
        <a href=""> <div class="menuitem">تماس با ما</div></a>
        <a href=""> <div class="menuitem">درباره ما</div></a>
    </div>
</div>
{% block slider %}

{% endblock %}

<div class="container mainContainer">
<div class="modal fade" id="modalMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
          <br/>
          <br/>
          <div class="row">
            {% if user == null %}
              <div class="col-6">
                  <a href="login" ><div class="btn btn-light modalButton">ورود</div></a>
              </div>
              <div class="col-6">
                  <a href="register" ><div class="btn btn-light modalButton">ثبت نام</div></a>
              </div>
            {% else %}
              <div class="col-6">
                  <a href="profile" ><div class="btn btn-light modalButton">{{user.name}}</div></a>
              </div>
              <div class="col-6">
                  <a href="logout" ><div class="btn btn-light modalButton">خروج</div></a>
              </div>
            {% endif %}
          </div>
            <div class="row">
                <div class="col-12"><a href="./" ><div class="btn btn-light modalButton modalMenuItem">صفحه اصلی</div></a></div>
            </div>
            <div class="row">
                <div class="col-12"><a href="./انتخاب_مدارک_ترجمه_رسمی" ><div class="btn btn-light modalButton modalMenuItem">محصولات</div></a></div>
            </div>
            <div class="row">
                <div class="col-12"><a href="" ><div class="btn btn-light modalButton modalMenuItem">نمونه پروژه ها</div></a></div>
            </div>
            <div class="row">
                <div class="col-12"><a href="" ><div class="btn btn-light modalButton modalMenuItem">تماس با ما</div></a></div>
            </div>
            <div class="row">
                <div class="col-12"><a href="" ><div class="btn btn-light modalButton modalMenuItem">درباره ما</div></a></div>
            </div>
      </div>
    </div>
  </div>
</div>
	{% block content %}{% endblock %}
        <div class="push"></div>
 </div>
<footer class="bottomBar">
    <div style="width:100%; display: flex; flex-wrap: wrap; justify-content: center;margin-top:5px;">
        <div style="color: #FFFFFF;display: flex;align-items:start;flex-direction:column;justify-content: center;text-align: right;font-size:.8em;">
            <div>آدرس دفتر مرکزی: <span>استان مرکزی، شهرستان خمین، میدان پلیس<br/> خیابان قیام، بلوار شهدا</span> </div>
            <div>تلفن و فکس: <a href="tel:+8646230259" class="contactPhone">46230259-086</a></div>
            <div> کد پستی : 3881863394</div>
            <div> رایانامه : <a href="mailto:info@{{app_site}}" class="contactPhone">info@{{app_site}}</a></div>
        </div>
        <img style="width:400px;margin-right: 20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 5px;border: solid 1px #30758a;" src="images/loc.png"></div>    
    </div>
    
 
    
</footer>

<a href="https://api.whatsapp.com/send?phone=989188622416">
    <div class="chat">
        <div class="row">
            <div class="col-8">مشاور آنلاین</div>
            <div class="col-4"><img class="whatsapp" src="images/whatsapp.png"/></div>
        </div>
    </div>
</a>