{% extends 'base.twig' %}

{% block title %}دفتر ترجمه رسمی شماره {{center.code}} {{center.city}}{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function(){  
           var carrier=$("#carrier").html();
           var text="";
           switch(carrier){
               case "0":
                   text="هزینه پیک بر عهده مشتری";
               break;
               case "1":
                   text="تا 3 کیلومتری دفتر ترجمه رایگان";
               break;
               case "2":
                   text="تا 6 کیلومتری دفتر ترجمه رایگان";
               break;
               case "3":
                   text="تا 10 کیلومتری دفتر ترجمه رایگان";
               break;
               case "4":
                   text="تا 20 کیلومتری دفتر ترجمه رایگان";
               break;
               case "5":
                   text="تا 30 کیلومتری دفتر ترجمه رایگان";
               break;
               case "6":
                   text="تا 50 کیلومتری دفتر ترجمه رایگان";
               break;
               case "7":
                   text="پیک رایگان";
               break;
           }
           $("#carrier").html(text);
	});
        
</script>
{% endblock %}


{% block content %}

<div class="container mainContainer" style="text-align: right;direction: rtl;">
    <h4 class="centerHeader">دفتر ترجمه رسمی شماره {{center.code}} {{center.city}}</h4>
    <br/>
    <span class="centerKey">مترجم مسئول: </span>
    <span class="centerValue">{{center.manager}}</span>
    <br/>
    <span class="centerKey">زبان تخصصی: </span>
    <span class="centerValue">{{center.lang[0]}}</span>
    <br/>
    <span class="centerKey">آدرس: </span>
    <span class="centerValue">{{center.address}}</span>
    <br/>
    <span class="centerKey">تلفن: </span>
    <span class="centerValue">{{center.phone}}</span>
    <br/>
    <span class="centerKey">شیوه ارسال و تحویل مدارک: </span>
    <span id="carrier" class="centerValue">{{center.carrier}}</span>
    <br/>
        
</div>
{% endblock %}
