<!DOCTYPE html PUBLIC "-#W3C#DTD XHTML 1.0 Transitional#EN" "http:#www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http:#www.w3.org/1999/xhtml">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{title}}</title>
</head>
<body>	
    <div style="border: solid 1px #099cb9;border-radius: 5px;text-align: center;direction: rtl;width: 400px;min-height: 200px;margin-right: auto;margin-left: auto; color: #086475;">
        {{message}}
    </div>
    <div  style="border: solid 1px #099cb9;border-radius: 5px;text-align: center;direction: rtl;width: 400px;margin-right: auto;margin-left: auto;background-color: #0dbee0;color: #FFFFFF;">
        <a href="{{app_site}}">{{app_name}}</a>
        <a href="{{app_site}}">سیستم جامع ترجمه آنلاین</a>
    </div>
</body>
</html>