{% extends 'base.twig' %}

{% block title %}صفحه مترجمان رسمی{% endblock %}
{% block scripts %}
<script type="text/javascript" src="js/timeago.min.js"></script>
<script type="text/javascript" src="js/timeago.locales.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        timeagoInstance = timeago(new Date());
        var times=$(".orderTime");
        for(var i=0;i<times.length;i++){
            var date=$(times[i]).html();
            $(times[i]).html(timeagoInstance.format(date, 'fa'));
        }
        $("#accordion").find(".collapse").first().addClass("show");
        var statusList=$(".orderStatus");
        for(var i=0;i<statusList.length;i++){
            var text=getStatusText($(statusList[i]).html());
            $(statusList[i]).html(text);
        }
        statusList=$(".orderDetailStatus");
        for(var i=0;i<statusList.length;i++){
            var status=parseInt($(statusList[i]).html());
            var text=getStatusText($(statusList[i]).html());
            $(statusList[i]).html(text);
            var button=$(statusList[i]).parent().parent().parent().find(".stateButton");
            if(status===0){
                button.html("تغییر وضعیت به در حال انجام");
            }
            else if(status===1){
                button.html("تغییر وضعیت به اماده ارسال");
            }
            else if(status===2){
                button.html("تغییر وضعیت به ارسال شده");
            }
            else{
                button.css("display","none");
            }
            
            
        }
        loadProducts();
        $(".stateButton").click(function (){
            var id= $(this).data().id;
            var status= $(this).data().status;
            var that=$(this);
            $.ajax({
                type: "POST",
                url: "./change-state?id="+id+"&status="+status,
                data: JSON.stringify({
                }),
                success: function (data){
                    data=JSON.parse(data);
                    if(data.status){
                        location.reload(true);
                    }
                }
              });
        });
    });
    function getStatusText(code){
        switch(code){
            case "0":
                return "سفارش جدید";
            case "1":
                return "در حال انجام";
            case "2":
                return "آماده ارسال";
            case "3":
                return "ارسال شده";
        }
    }
    function loadProducts(){
        var cards= $(".card");
        for(var i=0;i<cards.length;i++){
            var products=JSON.parse($(cards[i]).find(".orderBill").val()).products;
            for(var j=0;j<products.length;j++){
                var product=products[j];
                var productDiv=$("<div class='cartProduct'></div>");
                var title="ترجمه "+getLangByCode(product.lang)+" "+product.product.title;
                var productTitle=$("<div class='productDetail'>"+title+"</div>");
                var cloneRow=$("<div class='productDetail'>تعداد نسخه: "+product.clone+"</div>");
                productDiv.append(productTitle);
                productDiv.append(cloneRow);
                if(product.pages!==0 && product.pages!=="0"){
                    var pageRow=$("<div class='productDetail'>تعداد صفحه: "+product.pages+"</div>");
                    productDiv.append(pageRow);
                }
                if(product.marriage || product.talagh || product.wifeDie || product.child || product.die || product.desc || product.childCount>0 || product.mohrCount>0 || product.vizaCount>0 || product.entghalCount>0){
                    var other=$("<div style='color:red;font-size:11pt;'></div>");
                    productDiv.append(other);
                    if(product.marriage){
                        productDiv.append($("<div class='productDetail'>شناسنامه دارای صفحه ازدواج می باشد.</div>"));
                    }
                    if(product.talagh){
                        productDiv.append($("<div class='productDetail'>شناسنامه دارای صفحه طلاق می باشد.</div>"));
                    }
                    if(product.wifeDie){
                        productDiv.append($("<div class='productDetail'>شناسنامه دارای صفحه وفات همسر می باشد.</div>"));
                    }
                    if(product.child){
                        productDiv.append($("<div class='productDetail'>شناسنامه دارای صفحه فرزندان می باشد. تعداد فرزند: "+product.childCount+"</div>"));
                    }
                    if(product.die){
                        productDiv.append($("<div class='productDetail'>شناسنامه دارای صفحه وفات می باشد.</div>"));
                    }
                    if(product.desc){
                        productDiv.append($("<div class='productDetail'>شناسنامه دارای توضیحات می باشد.</div>"));
                    }
                    if(product.mohrCount>0){
                        productDiv.append($("<div class='productDetail'>سند نیازمند تعداد "+product.mohrCount+" صفحه مهر شده می باشد.</div>"));
                    }
                    if(product.vizaCount>0){
                        productDiv.append($("<div class='productDetail'>سند دارای تعداد "+vizaCount+"صفحه ویزا می باشد.</div>"));
                    }
                    if(product.entghalCount>0){
                        productDiv.append($("<div class='productDetail'>دارای "+product.entghalCount+" مورد انتقال سند می باشد.</div>"));
                    }
                }
                if(product.uploads!==null && product.uploads!==undefined){
                    for(var k=0;k<product.uploads.length;k++){
                        var upload=$("<img title='برای بزرگنمایی کلیک کنید' class='productUpload' alt='upload' src='"+product.uploads[k]+"'/>");
                        upload.click(function (){
                            $("#myModal").css("display","block");
                            $("#img01").attr("src",$(this).attr("src"));
                        });
                        productDiv.append(upload);
                    }
                }
                $(cards[i]).find(".productDetails").append(productDiv);
                
            }
        }
    }
</script>
{% endblock %}


{% block content %} 
<div class="container" style="direction: rtl;text-align: right;">
<div id="myModal" class="modal">
  <span onclick="$('#myModal').css('display','none');" class="closeModal">بستن تصویر</span>
  <span onclick="window.print();" class="print">چاپ تصویر</span>
  <img class="modal-content" id="img01">
</div>
    <div class="accordion" id="accordion">
        {% for order in orders %}
                <div class="card">
                    <div data-toggle="collapse" data-target="#order_{{order.id}}" class="card-header" id="headingOne">
                        <h4 class="mb-0">
                            <button class="btn btn-link" type="button" aria-expanded="true" aria-controls="order_{{order.id}}">
                                {{order.username}}
                            </button>
                            <div class="orderTime">{{order.order_time}}</div>
                            <span class="orderStatus">{{order.status}}</span>
                        </h4>
                    </div>

                    <div id="order_{{order.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <input type="text" style="display: none" class="orderBill" value="{{order.bill}}"/>
                        <div class="card-body">
                            <div class="row">
                                <div style="margin-top:5px;" class="col-12 col-sm-6">
                                    <span class="orderField">نام مشتری:</span>
                                    <span class="orderValue">{{order.username}}</span>
                                </div>
                                <div style="margin-top:5px;" class="col-12 col-sm-6">
                                    <span class="orderField">تلفن مشتری:</span>
                                    <span class="orderValue">{{order.user_mobile}}</span>
                                </div>                                
                                <div style="margin-top:5px;" class="col-12 col-sm-6">
                                    <span class="orderField">ایمیل مشتری:</span>
                                    <span class="orderValue">{{order.mail}}</span>
                                </div>                                
                                <div style="margin-top:5px;" class="col-12 col-sm-6">
                                    <span class="orderField">مبلغ پرداختی:</span>
                                    <span class="orderValue">{{order.amount}} تومان</span>
                                </div>    
                                <div style="margin-top:5px;" class="col-12 col-sm-6">
                                    <span class="orderField">کد رهگیری پرداخت:</span>
                                    <span class="orderValue">{{order.paycode}}</span>
                                </div>    
                                <div style="margin-top:5px;" class="col-12 col-sm-6">
                                    <span class="orderField">وضعیت سفارش:</span>
                                    <span class="orderDetailStatus orderValue">{{order.status}}</span>
                                </div>    
                            </div>
                            <div class="flexContainer">
                                <div data-id="{{order.id}}" data-status="{{order.status}}" class="stateButton"></div>
                            </div>
                            
                            <hr/>
                            <div>
                                <div class="addressField">آدرس تحویل سفارش</div>
                                <div class="addressValue">{{order.address}}<br/>تحویل گیرنده: {{order.address_name}}<br/>شماره تماس: {{order.address_mobile}}</div>
                            </div>
                            <hr/>
                            <div>
                                <div class="addressField">سفارشات ترجمه</div>
                                    <div class="productDetails"></div>
                                </div>
                            
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
