{% extends 'base.twig' %}

{% block title %}رسید سفارش{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {

        });

    </script>
{% endblock %}


{% block content %}
    <div class="container mainContainer" style="text-align: right;direction: rtl;">
        <div style="text-align: center;color: #006699;">  سفارش شما با موفقیت ثبت شد و به زودی توسط مترجم انتخاب شده پیگیری خواهد شد.</div>

        <div style="width: 70%;background-color: #f5f5f5;border: solid 1px #cfd6d9;padding: 5px;margin-right: 15%;margin-left: 15%;margin-top: 10px;margin-bottom: 10px; border-radius: 5px;font-size: 10pt;">
            شماره سفارش: {{order}}
            <br/>
            شماره پیگیری پرداخت بانکی: {{paycode}}
            <br/>
            نام مترجم مسئول: {{manager}}
            <br/>
            شماره تماس دفتر ترجمه: {{phone}}
        </div>



        <div style="text-align: center;color: #006699;">  تیم پشتیبانی {{app_name}} در کنار شماست.</div>
        
        <a href="./" class="btn btn-primary topButton" style="margin-top:10px;text-align: center;margin-bottom:10px;float: none;" type="submit">بازگشت به صفحه اصلی</a>
    </div>
{% endblock %}
