{% extends 'base.twig' %}

{% block title %}شرایط همکاری با {{app_name}}{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
      
    });
</script>
{% endblock %}


{% block content %}
<div style="border-radius: 5px; text-align: justify;direction: rtl;background-color: #fdfdfd;color: #2891c2;padding: 10px;padding-right: 20px;font-size: 10pt;border: solid 1px #d4d4d4;">

    <h5>شرایط همکاری با {{app_name}}</h5>
    <br/>
    <ul>
        <li>{{app_name}} متعهد است سفارشات مشتریان را به موقع به اطلاع مترجم برساند.</li><br/>
        <li>{{app_name}} متعهد است سودهای حاصل از پرداخت اینترنتی کاربران را بلافاصله به حساب زرین پال مترجم منتقل کند.</li><br/>
        <li>{{app_name}} متعهد است تمام تلاش خود را برای بازاریابی اینترنتی دفاتر ترجمه و معرفی آن ها به مشتری نهایی به کار گیرد.</li><br/>
        <li>متعهد می شوم سفارشاتی که توسط کاربر برای دفتر ترجمه من ثبت می شود را تا موعد تعیین شده آماده کرده و به کاربر برسانم. مسئولیت تاخیر یا عدم انجام سفارش بر عهده من خواهد بود.</li><br/>
        <li>متعهد می شوم به محدوده پیک رایگان که هنگام ثبت دفتر ترجمه تعیین کرده ام پایبند باشم.</li><br/>
        <li>متعهد می شوم اطلاعات خواسته شده توسط سایت را به درستی وارد کنم و هر گونه تغییر یا اشتباه در این اطلاعات را از طریق واحد پشتیبانی {{app_name}} اطلاع دهم.</li><br/>
        <li>موافقم {{gain}} درصد از سود هر تراکنش به عنوان کارمزد به {{app_name}} تعلق گیرد.</li><br/>
    </ul>
</div>
{% endblock %}